* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    font-family: "微软雅黑";
    list-style: none;
    max-width: 1920px;

    max-height: 1080px;

    margin: 0 auto;
}

.money_icon {
    color: #dd514d;
    font-size: 24px;
    line-height: 24px;
    margin-right: 3px;
}

.first_money_icon {
    color: #696969;
    font-size: 18px;
    margin-right: 5px;
}

.warp {
    width: 1366px;
    max-height: 1080px;
}

.header {
    width: 100%;
    height: 70px;
    position: relative;
}

.header .time {
    position: absolute;
    color: #7a7a7a;
    top: 20%;
    right: 1%;
    font-size: 16px;
    line-height: 16px;
}

.header .endtime {
    position: absolute;
    color: #7a7a7a;
    bottom: 10%;
    right: 1%;
    font-size: 24px;
}

.header .header_icon {
    width: 50px;
    height: 60px;
    margin: 0 auto;
    background: url('../images/icon.png') no-repeat;
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -30px;
}
.header .header_title {
    width: 300px;
    height: 70px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    line-height: 76px;
    font-size: 24px;
    color: #7a7a7a;
    margin-left: -150px;
}
.header_span {
    width: 200px;
    display: block;
    margin-left: 55px;
    line-height: 60px;
}
.left {
    width: 16%;
    height: 100%;
    float: left;
    margin-left: .5%;
}

.left .left_top {
    width: 100%;
    height: 30%;
    background: #ffc000;
    position: relative;
}

.left .left_down {
    width: 100%;
    height: 66%;
    margin-top: 6%;
}

.left .left_top .jxs_first {
    width: 100%;
    height: 23.78%;
    float: left;
    display: table;
    margin-bottom: 4%;
}

.left .left_top .jxs {
    width: 55%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.left .left_top .jxs li:first-child {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
}

.left .left_top .jxs li:nth-child(2) {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 7.333333333333333%;
}

.left .left_top .jxs li:nth-child(3) p:first-child {
    font-size: 50px;
    color: #ffffff;
    position: absolute;
    right: 8%;
    top: 51%;
    margin-top: -25px;
    line-height: 50px;
}

.left .left_top .jxs li:nth-child(3) p:nth-child(2) {
    position: absolute;
    right: 8%;
    color: #ffffff;
    bottom: 30%;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 1440px) {
    .left .left_top .jxs li:nth-child(3) p:nth-child(2) {
        bottom: 27%;
    }
}

@media screen and (max-width: 1280px) {
    .left .left_top .jxs li:nth-child(3) p:nth-child(2) {
        bottom: 25%;
    }
}

@media screen and (max-width: 1366px) {
    .left .left_top .jxs li:nth-child(3) p:nth-child(2) {
        bottom: 23%;
    }
}

.left .left_top .jxs li:nth-child(4) {
    position: absolute;
    right: 8%;
    bottom: 8%;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 1440px) {
    .left .left_top .jxs li:nth-child(4) {
        bottom: 7%;
    }
}

.left .left_down .title {
    height: 5.5%;
    color: #ffffff;
    text-align: left;
    padding-left: 6.666666666666667%;
    vertical-align: middle;
    background: #dd514d;
    display: table;
    width: 93.3333333333333%;
}

.left .left_down .title .title_font {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.left .left_down .first_jxs {
    height: 25%;
    color: #696969;
    text-align: center;
    list-style: none;
    background: #ffffff;
    text-align: left;
    margin-left: 2.4%;
}

.common_jxs {
    float: left;
    height: 21%;
    width: 100%;
    margin-bottom: 3%;
    display: table;
    position: relative;
}

.common_jxs .common_jxs_left {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20%;
}

/*@media screen and (min-width:1366px) {*/
#common_jxs_name {
    font-size: 14px;
    line-height: 14px;
    color: #808080;
    padding-top: 4%;
}

/*}*/

/*@media screen and (max-width:1366px) {*/
/*#common_jxs_name {*/
/*font-size: 12px;*/
/*line-height: 12px;*/
/*color: #808080;*/
/*padding-top: 2%;*/
/*}*/
/*}*/

#common_jxs_number {
    font-size: 14px;
    line-height: 14px;
    color: #777777;
}

#common_jxs_money {
    font-size: 24px;
    line-height: 24px;
    color: #dd514d;
    margin-left: 2%;
}

.common_jxs_right {
    height: 20%;
    width: 100%;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10%;
}

.center {
    width: 65%;
    height: 100%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.center .center_top {
    width: 100%;
    height: 30%;
    background: #dd514d;

}

.center .center_top .title {
    width: 64%;
    height: 10%;
    color: #ffffff;
    float: left;
    margin: 10px 0px 0px 20px;
    font-size: 18px;
}

.center .center_top .bar_char {
    width: 70%;
    height: 85%;
    float: left;

}

.center .center_top .sold_amount {
    width: 30%;
    height: 85%;
    float: right;
    display: table;

}

.center .center_top .sold_amount .sold_amount_table {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    position: relative;
}

.center .center_top .sold_amount .sold_amount_table .total_amount {
    width: 100%;
    height: 50px;
    float: right;
    vertical-align: middle;
    color: #ffffff;
    font-size: 60px;
    line-height: 50px;
    text-align: right;
    margin-bottom: 2%;
    padding: 0% 8% 3% 0%;

}

@media screen and (max-width: 1440px) {
    .center .center_top .sold_amount .sold_amount_table .total_amount {
        line-height: 45px;
    }
}

.total_amount span {
    font-size: 50px;
    line-height: 50px;
    margin-left: 10px;
}

.center .center_top .sold_amount .sold_amount_table .title2 {
    width: 100%;
    float: right;
    vertical-align: middle;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    padding: 0% 8% 0% 0%;
}

.center .center_top .sold_amount .sold_amount_table .today_amount {
    width: 100%;
    height: 10%;
    float: right;
    vertical-align: middle;
    text-align: right;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    padding-right: 8%;
}

@media screen and (max-width: 1440px) {
    .center .center_top .sold_amount .sold_amount_table .today_amount {
        line-height: 16px;
    }
}

@media screen and (max-width: 1280px) {
    .center .center_top .sold_amount .sold_amount_table .today_amount {
        line-height: 13px;
    }
}

@media screen and (max-width: 1366px) {
    .center .center_top .sold_amount .sold_amount_table .today_amount {
        line-height: 11px;
    }
}

ul.sold_amount_table li:nth-child(3) {
    position: absolute;
    bottom: 5%;
    right: 0%;
}

.center .center_down {
    width: 100%;
    height: 62%;
    margin-top: 1.7%;
}

.center .center_down .title {
    height: 5.5%;
    color: #ffffff;
    text-align: left;
    vertical-align: middle;
    background: #dd514d;
    display: table;
    width: 100.1%;
    text-indent: 2%;
}

.center_title_font {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.center .center_down .line_chart {
    width: 100%;
    height: 95%;
}

.right {
    width: 16%;
    height: 100%;
    float: left;
}

.right .right_top {
    width: 100%;
    height: 30%;
    background: #4dabcd;
    display: table;
    /*position: relative;*/
}

.right .right_top .title {
    font-size: 18px;
    color: #ffffff;
    margin: 10px 0px 0px 20px;
    float: left;
    height: 8%;
    width: 100%;
}

.right .right_top .amount {
    width: 100%;
    height: 84%;
    float: left;
    display: table;
}

.right .right_top .amount .amount_table {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    position: relative;
}

.right .right_top .amount .amount_table .dd_number {
    height: 50px;
    padding-right: 8%;
    width: 90%;
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    vertical-align: middle;
    float: right;
    text-align: right;
    padding-bottom: 6%;
}

.right .right_top .amount .amount_table .dd_number .image_note {
    width: 14%;
    margin-top: -4%;
    float: left;
    margin-left: 16px;
}

.right .right_top .amount .amount_table .title2 {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    vertical-align: middle;
    float: right;
    text-align: right;
    position: absolute;
    bottom: 4%;
    right: 8%;
}

.right .right_top .amount .amount_table .td_number {
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    color: #ffffff;
    vertical-align: middle;
    float: right;
    text-align: right;
}

.right .right_down {
    width: 100%;
    height: 66%;
    margin-top: 6%;
    background: #ffffff;
}

.right .right_down .title {
    height: 5.5%;
    width: 93.3333333333333%;
    color: #ffffff;
    text-align: left;
    padding-left: 6.666666666666667%;
    display: table;
    vertical-align: middle;
    background: #dd514d;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.right .right_down .title .title_font {
    display: table-cell;
    vertical-align: middle;
}

.sale_rank {
    height: 14%;
    width: 100%;
    display: table;
    margin-bottom: 2%;
    margin-left: 1px;
}

.common_jxs_left p:nth-child(2) {
    color: #777777;
}

.sale_rank_left {
    height: 100%;
    width: 20%;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.sale_rank_right {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 6%;
}

.rank_number {
    /*padding:30%;*/
}

#sale_name {
    font-size: 16px;
    height: 16px;
    line-height: 19px;
    padding-bottom: 2%;
    color: #777777;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

#sale_money {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.sale_money_icon {
    /*float:right;*/
    font-size: 18px;
    color: #dd514d;
}

.sale_l3_color {
    color: #dd514d;
}

.sale_g3_color {
    color: #777777;
}

.sale_l3_money_color {
    color: #dd514d;
}

.sale_g3_money_color {
    color: #414141;
}

.shadow {
    -webkit-box-shadow: 1px 4px 10px #bbb;; /* 老的 GOOGLE */
    -moz-box-shadow: 1px 4px 10px #bbb;; /* 老的 Firefox */
    -ms-box-shadow: 1px 4px 10px #bbb;; /* 老的 IE */
    box-shadow: 1px 4px 10px #bbb;;
}

.center_shadow {
    -webkit-box-shadow: 1px 4px 10px #bbb;; /* 老的 GOOGLE */
    -moz-box-shadow: 1px 4px 10px #bbb;; /* 老的 Firefox */
    -ms-box-shadow: 1px 4px 10px #bbb;; /* 老的 IE */
    box-shadow: 1px 4px 10px #bbb;;
}

.sub_shadow {
    -webkit-box-shadow: 1px 4px 10px #bbb;;
    -moz-box-shadow: 1px 4px 10px #bbb;;
    -ms-box-shadow: 1px 4px 10px #bbb;;
    box-shadow: 1px 4px 10px #bbb;;
}

.right_shadow {
    -webkit-box-shadow: 1px 4px 10px #bbb;;
    -moz-box-shadow: 1px 4px 10px #bbb;;
    -ms-box-shadow: 1px 4px 10px #bbb;;
    box-shadow: 1px 4px 10px #bbb;;
}

.cicle_foot {
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

.up_cicle_foot {
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;

}

.down_cicle_foot {
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;

}

.color_border {
    width: 25px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: table;
}

.color_border p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
}

.color1 {
    /*border-left:8px solid #dd514d;*/
    background: #dd514d;
}

.color2 {
    /*border-left: 8px solid #ffc000;*/
    background: #ffc000;
}

.color3 {
    /*border-left: 8px solid #4dabcd;*/
    background: #4dabcd;
}

.color4 {
    background: #42be8b;
}

.zhezhao{display: none}

@media screen and (max-width: 1200px) {
    .zhezhao {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: #000000;
        z-index: 999999;
        top:0px;
        bottom: 0px;
        left:0px;
        right: 0px;
    }
}
