* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "微软雅黑";
    list-style: none;
    max-width: 1920px;

    max-height: 1080px;

    margin: 0 auto;
}

.warp {
    width: 1366px;
    max-height: 1080px;
}

.header {
    width: 100%;

    height: 70px;
    position: relative;
}

.header .time {
    position: absolute;
    color: red;
    top: 20%;
    right: 1%;
    font-size: 16px;
    line-height: 16px;
}

.header .endtime {
    position: absolute;
    color: red;
    bottom: 10%;
    right: 1%;
    font-size: 24px;
}

.header .header_icon {
        width: 118px;
    height: 60px;
    margin: 0 auto;
    background: url(../images/icon.png) no-repeat;
     position: absolute;
}
table {
    width:100%;
    table-layout: fixed;
}
table td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table td:nth-child(1){
    text-align: left;
}
table td:nth-child(2){
    text-align: left;
}
table td:nth-child(3){
    text-align: left;
}


.th {

    width: 100%;
    background: #00CCFF;
    height: 10%;
    color:white;
}
.tb {

    width: 100%;
    overflow: auto;

    height: 80%;
}
