	/*通用样式*/
	*{
		padding:0;
		margin:0;
	}

	@font-face {
		font-family: PingFang;
		src: url('../font/PingFang.otf');
	}

	body{
		background: #F1F8FF;
		font-weight: 300;
		overflow: hidden;
	}

@media screen and (max-width:1499px){
	/*包裹层*/
	.update_warp{
		/*34*/
		width: 680px;
		height:424px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top:-212px;
		margin-left: -368px;
	}

	/*包裹层左*/

	.update_warp .left{
		width: 326px;
		height: 423px;
		position: absolute;
		left:0px;

	}

	.update_warp .left img{
		width: 100%;
		height: 100%;
	}

	/*包裹层右*/

	.update_warp .right{
		width: 260px;
		height: 423px;
		position: absolute;
		right: 0px;
	}


	.update_warp .right .logo{
		width: 211px;
		height: 98px;
		position: absolute;
		right: 40px;
		top:28px;
	}

	.update_warp .right .logo img{
		width: 100%;
		height: 100%;
	}

	.update_warp .right .zzsj{
		width: 270px;
		height: 98px;
		position: absolute;
		right: 0px;
		top:140px;
	}

	.update_warp .right .zzsj p {
		font-size: 50px;
		line-height: 70px;
		color:#2D72CE;
		text-align: center;
		letter-spacing: 12px;
	}

	.update_warp .right .time{
	    width: 380px;
    	height: 37px;
    	position: absolute;
    	right: -50px;
   	 	top: 208px;
	}

	.update_warp .right .time p{
		font-size: 24px;
		line-height: 36px;
		color:#FF0000;
		letter-spacing: 2px;
		font-weight: 500;
		font-family:"Lucida Grande",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;
	}

	.update_warp .right .descrip{
		width: 388px;
		height:130px;
		position: absolute;
		bottom: 24px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		left:-74px;
		font-family:"Lucida Grande",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;
	}
	.update_warp .right .descrip p{
		text-align: justify;
		word-break: break-all;
	}
	.update_warp .right .descrip span{
		font-weight: bold;
	}
}

	@media screen and (min-width: 1500px){
	/*包裹层*/
	.update_warp{
		width: 930px;
		height:596px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top:-298px;
		margin-left: -490px;
	}

	/*包裹层左*/

	.update_warp .left{
		width: 459px;
		height: 595px;
		position: absolute;
		left:0px;

	}

	.update_warp .left img{
		width: 100%;
		height: 100%;
	}

	/*包裹层右*/

	.update_warp .right{
		width: 366px;
		height: 595px;
		position: absolute;
		right: 0px;
	}


	.update_warp .right .logo{
		width: 297px;
		height: 138px;
		position: absolute;
		right: 40px;
		top:48px;
	}

	.update_warp .right .logo img{
		width: 100%;
		height: 100%;
	}

	.update_warp .right .zzsj{
		width: 346px;
		height: 98px;
		position: absolute;
		right: 0px;
		top:222px;
	}

	.update_warp .right .zzsj p {
		font-size: 70px;
		line-height: 98px;
		color:#2D72CE;
		text-align: center;
		letter-spacing: 16px;
		font-weight: 100;
	}

	.update_warp .right .time{
		    width: 462px;
    		height: 53px;
		    position: absolute;
    		right: -54px;
    		top: 318px;
    		font-family: "Lucida Grande",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;
	}

	.update_warp .right .time p{
		font-size: 28px;
		line-height: 53px;
		color:#FF0000;
		letter-spacing: 3px;
		font-weight: 500;
	}
	.update_warp .right .descrip{
		width: 483px;
		height:130px;
		position: absolute;
		bottom: 70px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		left:-48px;
		font-family:"Lucida Grande",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;
	}
	.update_warp .right .descrip p{
		text-align: justify;
		word-break: break-all;
	}
	.update_warp .right .descrip span{
		font-weight: bold;
	}
}
