﻿<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">模块功能概要</h2>
        <h4 class="oe_slogan"><ul align='left' ><ol>1. 增加省市区县模型res_state_city；</ol><ol>2. Partner表单上地址格式改成 国家 - 省 - 市 - 区县 - 街道
Partner表单上增加地址搜索按钮；</ol><ol>3. 表单增加地址搜索按钮的写法（context指定表单上国家、省、市、区县四个字段的字段名）：&lt;button name="%(action_address_city_wizard)d" type="action" string="地址搜索" class="btn btn-sm oe_edit_only fa fa-external-link btn btn-link " context="{'city_fields': 'country_id,state_id,city,street'}"/&gt;
</ol><ol>4. 预先导入了中国省市区县数据，方便地址搜索；</ol><ol>5. 导入中国各大银行的开户行名称地址数据，方便搜索。</ol></ul></h4>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">功能截屏介绍</h2>
        <h3 class="oe_slogan">界面上地址输入的地方，增加“地址搜索”按钮，点击按钮，弹出省市区选择界面，辅助录入。</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="address_search.png">
            </div>
        </div>
        <h3 class="oe_slogan">预先导入了各大银行的网点数据，方便供应商银行账号的开户行录入。</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="banks.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
