﻿<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">模块功能概要</h2>
        <h4 class="oe_slogan"><ul align='left' ><ol>1. 新增会计凭证打印功能；</ol><ol>2. 新增中国资格式的产负债表、利润表、现金流量表</ol><ol>3. （需要启用分析会计功能）增加现金流量表标签，会计分录录入时候，分录标签上，手工标记现金流量相关标记，如此，系统会自动归集现金流量表。</ol></ul></h4>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">会计凭证打印</h2>
        <h3 class="oe_slogan">新增会计凭证打印功能</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="entry01.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">资产负债表</h2>
        <h3 class="oe_slogan">预配好的中国会计资产负债表</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="bs01.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">利润表</h2>
        <h3 class="oe_slogan">预配好的中国会计利润表</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="pl01.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">现金流量表</h2>
        <h3 class="oe_slogan">预配好的中国会计现金流量表</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="cf01.png">
            </div>
        </div>
    </div>
</section>
